.container-fluid {
    background-color: lightgreen;
    height: 50px;
    border: solid 3px;
    width: 100%
}

table, th {
    border: solid 1pt;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

thead {
    background-color: #CACACA;
}

input {
    margin: 5px;
}

#add {
    background-color: green;
    color: white;
}

#clear {
    background-color: black;
    color: white;
}

td, tr {
    border: solid 1pt;
    padding: 3px;
}

.col {
    width: 300px;
}


img {
    width: 350px;
    height: 250px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

p {
    text-align: center;
}

.image-group {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    
}

h1 {
    text-align: center;
}

footer {
    background-color: lightgreen;
    height: 50px;
    border: solid 3px;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: auto;
}

form {
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}
